.box-container {
display: flex;
justify-content: space-between;
align-items: center; 
padding: 20px;
gap: 20px; 
}

.box {
flex: 1; 
padding: 20px;
border-radius: 10px;
background-color: #ffffff;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
text-align: center;
}

.box1 {
background-color: #008080;
color: white;
font-family: 'Raleway', sans-serif;
}

.box2 {
background-color: #d8870d;
color: white;
font-family: 'Raleway', sans-serif;
}

.box3 {
background-color: #0f538b;
color: white;
font-family: 'Raleway', sans-serif;
}

.text .topic-heading {
font-size: 24px;
font-weight: bold;

}

.text .topic {
font-size: 16px;
}
.report-container {
margin-top: 30px;
background-color: #ffffff;
padding: 20px;
border-radius: 10px;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
font-family: 'Raleway', sans-serif;
}

.report-header {
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 20px;
font-size: smaller;
}

.recent-Tasks {
font-size: 20px;
font-weight: bold;
}

.view {
padding: 8px 16px;
background-color: #0f538b;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
transition: 0.3s;
}

.view:hover {
background-color: #0056b3;
}

.report-body {
border-top: 2px solid #f1f1f1;
padding-top: 10px;
}

.items {
margin-top: 10px;
}
.report-topic-heading,
.item1 {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.item1:hover {
background-color: #f1f1f1;
}

.t-op-nextlvl {
flex: 1;
text-align: center;
padding-right: 10px;
padding-left: 1px;
font-size: 14px;
color: #4d473c;
}

.label-tag {
font-weight: bold;
color: green;
}

.blur-background {
    filter: blur(5px);
    pointer-events: none;
}


.action-icon {
    display: flex;
    gap: 12px;
    width: 24px; 
    height: 24px;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;
}

.delete-icon:hover {
    opacity: 0.7;
}

.evaluation-task{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: #333;
}
.table-dropdown {
    font-size: 15px;
    padding: 10px;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: white;
    font-family: 'Raleway', sans-serif;
    color: #333;
    cursor: pointer;
    appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .table-dropdown.yellow {
    color: #c5c744; 
  }
  
  .table-dropdown.red {
    color: #802a32;
  }
  
  .table-dropdown.blue {
    color: #1f5ba8;
  }
  
  .table-dropdown.green {
    color: #34b44a;
  }
  
  .table-dropdown.orange {
    color: #d8870d;
  }
  
  .table-dropdown:hover {
    border-color: #888;
  }
  
  .table-dropdown option {
    padding: 4px 8px;
  }
  
/* Responsive */
@media (max-width: 768px) {
.report-topic-heading, .item1 {
    flex-direction: column;
    align-items: center;
    text-align: center;
}
}

/* Responsive Design */
@media (max-width: 768px) {
.box-container {
    flex-direction: column;
    gap: 10px;
}
}
