.search-bar {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 5px;
    width: 300px;
    background-color: #fff;
  }

  .search-input {
    flex: 1;
    border: none;
    padding: 8px;
    font-size: 16px;
    outline: none;
    font-family: 'Raleway', sans-serif;
    color: #4d473c;
  }
  
  .search-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    padding: 5px;
  }
  